<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header" style="text-align: center; font-weight: 600; font-size: 25px">
                        {{ title }}
                    </div>

                    <div class="card-body">
                        <div style="text-align: center;">
                            <button
                                class="btn btn-primary"
                                @click="givePrize">
                                Give Me Prize
                            </button>
                        </div>

                        <div class="prizes">
                            <div
                                class="prize"
                                v-for="prize in prizes">
                                <p style="color: red">Prize: </p>
                                <p style="margin-left: 20px">Type: {{ prize.type }}</p>
                                <p style="margin-left: 20px">Value: {{ prize.value }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            title: 'Raffle',
            prizes: [],
        }),

        methods: {
            givePrize() {
                window.axios.post('/api/raffle/play')
                    .then(response => {
                        this.prizes.push({
                            type: response.data.type,
                            value: response.data.type === 'gift'
                                ? response.data.value.name
                                : response.data.value,
                        });
                    });
            },
        },
    }
</script>

<style scoped>
    .prizes {
        margin-top: 20px;
    }

    .prize {
        border: 1px solid;
        padding: 10px;
    }

    .prize p {
        margin: 0;
    }
</style>
